@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap')
$base-font-family: 'Nunito Sans', sans-serif
$base-font-size:   16px
$base-font-weight: 300
$head-font-weight: 400
$small-font-size:  $base-font-size * 0.875
$base-line-height: 1.7
$spacing-unit:     30px

// Grid breakpoints
$breakpoints: (xs: 0,sm: 544px,md: 768px,lg: 992px, xl: 1000px) !default

// Number of columns
$columns: 12 !default 

// Colors
$blue:       #002CCA
$red:        #E03538
$dark:       #414760
$black:      #414760
$grey:       #F4F5F8
$dark-grey:  #808285
$light-grey: #F7FAFF
$white:      #ffffff
// Layout
$container-fluid: 100%
$container: 1380px
$container-sm: 980px
$container-xs: 680px