{{ define "main" }}

<section>
    <div class="top-hero" style="background-image: url(' {{ .Site.Data.home.tophero.image | relURL }} ') ;">
        <div class="overlay"></div>
        <div class="grid grid--container">
            <div class="row">
                <div class="col col--sm">
                    <div class="top-hero-content">
                        <h1>{{ .Site.Data.home.tophero.title }}</h1>
                        <p>{{ .Site.Data.home.tophero.alttitle }}</p>
                        <a class="btn btn-red" href="{{ .Site.Data.contact.contactUrl }}">{{ .Site.Data.home.tophero.button }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="middle-hero" style="background-image: url(' {{ .Site.Data.home.middlehero.image | relURL }} ') ;">
        <div class="overlay-light"></div>
        <div class="grid grid--container">
            <div class="col col--lg-6 col--sm-12">
                <div class="row row--sm-center">
                    <div class="middle-hero-content">
                        <h2 class="partial-border">{{ .Site.Data.home.middlehero.title }}</h2>
                        <p>{{ .Site.Data.home.middlehero.text }}</p>
                        <a class="btn btn-red" href="{{ .Site.Data.contact.contactUrl }}">{{ .Site.Data.home.middlehero.button }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="services">
        <div class="grid grid--container">
            <div class="row">
                <div class="col col--sm-12">
                    <h2 class="partial-border">{{ .Site.Data.home.services.title }}</h2>
                </div>
            </div>
            <div class="row">
                {{ range .Site.Data.home.servicelist.items }}
                <div class="col col--lg col--md-6 col--sm-flex">
                    <a href="{{.url | relURL}}">
                        <div class="card">
                            <img class="card-img" src="{{.image | relURL}}" alt="{{.title}}">
                            <div class="card-body">
                                <h4 class="title">
                                    {{ .title }}
                                </h4>
                                <p class="description">{{ .description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
