{{ define "main" }}

<section>
    <div class="top-hero" style="background-image: url(' {{ .Site.Data.home.tophero.image | relURL }} ') ;">
        <div class="overlay"></div>
        <div class="top-hero-content">
            <div class="container-sm">
                <h1>{{ .Site.Data.home.tophero.title }}</h1>
                <p>{{ .Site.Data.home.tophero.alttitle }}</p>
                <a class="btn btn-red"
                    href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.home.tophero.button }}</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="middle-hero" style="background-image: url(' {{ .Site.Data.home.middlehero.image | relURL }} ') ;">
        <div class="overlay-light"></div>
        <div class="middle-hero-content">
            <h2>{{ .Site.Data.home.middlehero.title }}</h2>
            <a class="btn btn-red"
                href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.home.middlehero.button }}</a>
        </div>
    </div>
</section>

{{ end }}
